@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #dcdcdc;
  --background-start-rgb: #05405c;
  --background-end-rgb: #05405c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #dcdcdc;
    --background-start-rgb: #05405c;
    --background-end-rgb: #05405c;
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}